@define-color pink #d6ccff;
@define-color mauve #c4a2ff;
@define-color red #ff757f;
@define-color maroon #f67f81;
@define-color peach #fab387;
@define-color yellow #ffc777;
@define-color green #2df4c0;
@define-color teal #41cfd9;
@define-color cyan #04dff9;
@define-color sapphire #86b0ea;
@define-color blue #4f99ff;
/*@define-color lavender #b4befe;*/
@define-color black #000000;

@define-color null alpha(#000000, 0.0);
@define-color base alpha(#000000, 0.1);
/* @define-color surface alpha(@lavender, 0.15); */
@define-color surface alpha(#212337, 1);
@define-color solidSurface alpha(#000000, 1);
@define-color shadowDark alpha(#000000, 0.9);
@define-color text #dce2f5;
@define-color hoverBg alpha(@mauve, 1);
@define-color hoverFg #000000;
@define-color activeBg alpha(@mauve, 1);
@define-color activeFg #000000;
@define-color shadow alpha(@lavender, 0.25);

* {
  all: unset;
  font-size: 0.8rem;
  font-weight: 900; /* No effect? */
  font-family:
    JetBrainsMonoNerdFont,
    sans-serif;
  background-clip: border-box;
}

button {
  min-width: 24px;
  min-height: 20px;
  border-radius: 8px;
  border: 1px solid @null;
  color: @text;
  /*box-shadow: 0px 0px 8px 4px @shadow inset;*/
  transition:
    all 50ms cubic-bezier(0.55, 0, 0.28, 1.682),
    box-shadow 50ms ease-in-out,
    background-color 200ms ease-in-out;
}

button:hover {
  color: @hoverFg;
  background: @hoverBg;
  border: 1px solid @hoverFg;
}

button.visible {
	color: @teal;
	border: 1px solid @teal;
}

button.visible:hover {
	color: @hoverFg;
	background: @green;
	border: 1px solid @hoverFg;
}

button.active {
  color: @activeBg;
  border: 1px solid @activeBg;
}

button.active:hover {
  color: @hoverFg;
  background: @peach;
  border: 1px solid @hoverFg;
}

button.urgent {
  color: @hoverFg;
  background: @red;
  border: 1px solid @red;
}

button:nth-last-child(-n+2) label {
	font-size: 0.9rem;
	padding: 0px 3px 0px 0px;
}

tooltip {
  opacity: 1;
}

window#waybar.empty #window {
  background-color: transparent;
}

#window {
  margin-right: 0px;
}

#workspaces,
#custom-appmenu,
#quicklinks,
#sound,
#hardware,
#clock,
#network,
#tray,
#battery,
#custom-notification {
  background-color: @surface;
  border: 1px solid @mauve;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 4px @shadow inset;
}

#sound,
#hardware,
#network,
#tray,
#battery,
#clock {
  padding: 0 8px;
}

#workspaces {
	padding: 2px 2px;
}

#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10 {
  font-size: 1.5rem;
  margin: 0 0.5rem;
}
#custom-quicklink1 {
  /* margin-left: 0; */
}

#cpu,
#memory,
#disk {
  padding-right: 0.5rem;
}

#custom-appmenu,
#custom-notification {
  font-size: 24px;
  min-width: 32px;
  min-height: 32px;
  padding-right: 4px;
  border-radius: 8px;
}

#workspaces button {
  margin-right: 2px;
}
#workspaces button:last-child {
  margin-right: 0;
}

#taskbar {
  font-weight: normal;
  font-style: normal;
}

@keyframes blink {
  to {
    background-color: @activeBg;
  }
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @hoverFg;
  border: 1px solid @red;
  /*
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  */
}

#battery.charging {
	color: @yellow;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @activeBg;
}

label:focus {
  background-color: @activeBg;
}

window.popup,
.menu,
.popover,
tooltip,
window.tooltip {
  background-color: @surface;
  box-shadow: 0px 0px 8px 4px @shadow inset;
  background-image: none;
  border: 1px solid @text;
  border-radius: 8px;
  background-clip: padding-box;
  padding: 4px 8px;
  opacity: 1;
}

window.popup menuitem,
.menu menuitem,
.popover box menuitem {
  padding: 6px 16px;
  background: transparent;
}

window.popup menuitem:hover,
.menu menuitem:hover,
.popover box menuitem:hover {
  color: @mauve;
}

window.popup menuitem + menuitem,
.menu menuitem + menuitem,
.popover box menuitem + menuitem {
  margin-top: 2px;
}
